.container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  color: #262626;
  opacity: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.container {
  &.show {
    z-index: 10;
    opacity: 1;
  }
}

.content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 547px;
  height: 204px;
  text-align: center;
  vertical-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translate(0%, -50%);

  &.show {
    transform: translate(0, 0);
  }
}

.title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

.text {
  font-size: 20px;
  line-height: 38px;
}

.button {
  width: 100%;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  background: #1890FF;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:hover {
    background-color: #40A9FF;
    cursor: pointer;
  }

  &:active {
    background-color: #096DD9;
  }
}

.contentPoliticalModal {
  @extend .content;
  position: relative;
  height: 500px;
}

.politicalModalTitle {
  @extend .title;
  text-align: left;
  margin: 0 0 32px 0;
}

.politicalModalTextWrapper {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.politicalModalText {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  line-height: 38px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  span {
    color: #2F80ED;
  }
}


@media screen and (min-width: 928px) {
  .content {
    padding: 40px;
    min-height: 244px;
  }

  .title {
    margin: 0;
  }

  .button {
    max-width: 360px;
  }

  .contentPoliticalModal {
    max-width: 758px;
    min-height: 700px;
    padding: 48px;
  }

  .politicalModalTextWrapper {
    margin-bottom: 48px;
  }

  .politicalModalTitle {
    margin-bottom: 32px;
  }

  .closeButton {
    top: 40px;
    right: 40px;
  }

}
